@import 'common/scss/base';

.filterGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $color-base-grey-5;
  border: solid $color-base-grey-5;
  border-width: $border-width 0;
  height: $filter-bar-height;

  @include media-breakpoint("s") {
    height: $filter-bar-height-mobile;
  }
  @include media-breakpoint-down("xs") {
    height: $filter-bar-height-mobile;
  }
}

.contentWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  @include media-breakpoint-up("l") { width: col(9); }
  @include media-breakpoint("m") { width: col(8); }
  @include media-breakpoint("s") { width: col(12); }
  @include media-breakpoint-up("s") { margin: 0 $gutter; }
  @include media-breakpoint-down("xs") {
    width: 100%;
    margin: 0 $half-gutter;
  }
}
