@import 'common/scss/base';

.subNav {
  display: flex;
  height: 100%;
}

.subNavItem {
  @include base-text-bold;
  color: $color-base-grey-50;
  margin-left: 2rem;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  &:first-child { margin-left: 0; }

  @include media-breakpoint-down("s") { @include small-text-bold; }

  &.subNavActiveItem {
    color: $color-base-grey-90;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -$border-width;
      left: 0;
      right: 0;
      height: calc(2 * #{$border-width});
      background: $color-brand-light-orange-100;
    }
  }
}

.cover {
  width: 100%;
  height: 160px;
  background: url('./img/cover.png');
  background-size: cover;
  background-position: center;
  border-radius: .5rem;
}

.copy {
  @include media-breakpoint-up("xl") {
    margin: 1.5rem col(1) 0;
    padding: 0 $gutter;
  }
  @include media-breakpoint-down("l") {
    margin-top: 1.5rem;
  }
  

  h3 {
    color: $color-base-grey-90;
    margin-bottom: 1.5rem;
  }
  p {
    color: $color-base-grey-90;
    margin-bottom: 4rem;
  }
}
