$header-height: 104px;
$header-height-mobile: 40px;
$sidebar-width: minmax(250px, 33%);
$nav-menu-width-mobile: 120px;
$nav-menu-width-mobile-small: 95px;
$logo-area-width-mobile: 194px;
$logo-area-width-mobile-small: 53px;
$border-width: 2px;
$filter-bar-height: 56px;
$filter-bar-height-mobile: 48px;
$content-max-width: 825px;
$gridTileWidth: minmax(210px, 255px);
$tileImageHeight: 128px;
