@import 'common/scss/base';

.purchaseSuccessContent {
  border-top: $border-width solid $color-base-grey-10;
}

.sectionContent {
  @include content;

  &:first-child {
    padding-top: 1.5rem;
  }
  &:last-child {
    padding-bottom: 4rem;
  }
}

.fullWidth {
  background: $color-base-grey-5;
}
